[
    {mnesia, [
        {dir, "./var/mnesia/cli01@local.com"},
        {dc_dump_limit, 40},
        {dump_log_write_threshold, 1000}
    ]},
    {erl_concurrency_cli, [
      {host, "localhost"},
      {port, 10000},

      {interval_online, 20},       % interval in milliseconds for clients to get online
      {interval_reconnect, 10000},  % interval in milliseconds for clients to reconnect
      {interval_heartbeat, 600000}, % interval in milliseconds for clients to do heartbeat
      
      {client_count, 10},

      {verbose, true}
    ]},
    {lager, [
        {crash_log, "./var/log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 1048576000},
        {crash_log_date, "$D0"},
        {crash_log_count, 3},
        {error_logger_redirect, false},

        {async_threshold, 20},
        {async_threshold_window, 5},

        %% log level: debug, info, notice, warning, error, critical, alert, emergency 

        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "./var/log/debug.log"},
                {level, debug},
                {size, 1048576000},
                {date, "$D0"},
                {count, 3}
                ]},
            {lager_file_backend, [
                {file, "./var/log/info.log"},
                {level, info},
                {size, 1048576000},
                {date, "$D0"},
                {count, 3}
                ]},
            {lager_file_backend, [
                {file, "./var/log/warning.log"},
                {level, warning},
                {size, 1048576000},
                {date, "$D0"},
                {count, 3}
                ]}
            ]}
    ]}
].
